@model LearningPortal.Models.AppUserLoginModel

@{
    ViewData["Title"] = "Авторизация";
}

<h1>@ViewData["Title"]</h1>

<hr />

<h5><a asp-action="LoginStudent" asp-controller="Account">Войти в личный кабинет студента</a></h5>
<h5><a asp-action="LoginTeacher" asp-controller="Account">Войти в личный кабинет преподавателя</a></h5>
<hr />
<p>

    <div><h4>Вы в первый раз на нашем сайте?</h4></div>

    <div>Для входа в портал студенты и преподаватели используют свой логин и пароль от личного кабинета в системе «LearningPortal».
        </div>
    <br/>
    <div class="alert alert-info">
        <b>Обратите внимание:</b> если вы используете логин и пароль от личного кабинета в системе «LearningPortal» и
        портал выдает ошибку «Неверный логин и пароль» — это возможно в двух случаях:
        <ul>
            <li>
                вы действительно неправильно ввели логин и пароль,
            </li>
            <li>
                вы ввели логин и пароль не в ту форму авторизации
            </li>
        </ul>


    </div>

</p>

@*<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index" asp-controller="Home">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
