@model IEnumerable<LearningPortal.Domains.Category>

@{
    ViewData["Title"] = "Категории";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead>
    <tr>
        <th>
            Категория
        </th>
        <th>
            <a asp-action="Create" class="btn btn-outline-primary"><i class="far fa-plus-square"></i> Создать категорию</a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => category.Name)
            </td>
            <td>
                <a class="text-success" asp-action="Edit" asp-route-id="@category.Id"><i class="fa fa-marker fa-lg"></i></a>
                <a class="text-danger" asp-action="Delete" asp-route-id="@category.Id"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Admin">Назад</a>
</div>