@model IEnumerable<LearningPortal.Models.AppUserModel>

@{
    ViewData["Title"] = "Admin";
}

<h1>@ViewData["Title"]</h1>

<p>
    <p><a class="btn btn-primary" asp-action="Users" asp-controller="Admin"><i class="fas fa-users"></i> Пользователи</a></p> 
    <p><a class="btn btn-primary" asp-action="Index" asp-controller="Roles"><i class="far fa-address-card"></i> Роли пользователей</a></p>
    <p><a class="btn btn-primary" asp-action="Courses" asp-controller="Admin"><i class="fas fa-book-open"></i> Курсы</a></p>
<p><a class="btn btn-primary" asp-action="Index" asp-controller="Category"><i class="fab fa-ethereum"></i> Категории</a></p>
    
<div>
    <a asp-controller="Home" asp-action="Index">Назад</a>
</div>